@use "@/styles/helpers" as *;

.search-form {
  --padding-x: #{rem(16)};
  --icon-width: #{rem(24)};
  --input-gap-x: #{rem(12)};
  position: relative;
  width: 100%;

  &:has(.search-form__input:not(:placeholder-shown)) .search-form__label {
    color: var(--color-dark);
    scale: 0.9;
    translate: -2rem -3rem;
  }

  &__label {
    @include abs-y;

    left: calc(var(--padding-x) + var(--icon-width) + var(--input-gap-x));
    font-weight: 400;
    font-size: rem(16);
    color: var(--color-dark-2);

    @include tablet {
      font-size: rem(14);
    }
  }

  &__input {
    width: 100%;
    border-radius: rem(62);
    padding-block: rem(12);
    padding-left: calc(
      var(--padding-x) + var(--icon-width) + var(--input-gap-x)
    );
    border: none;
    background-color: var(--color-dark-4);

    &[type="search"] {
      &:placeholder-shown {
        padding-left: calc(
          var(--padding-x) + var(--icon-width) + var(--input-gap-x)
        );
        background-image: url("@/assets/icons/search_gray.svg");
        background-position: var(--padding-x) 50%;
        background-size: var(--icon-width);
        background-repeat: no-repeat;

        .search-form__label {
          display: none !important;
        }
      }
    }
  }
}
