.metrics {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: rem(12);

    @include tablet {
      grid-template-columns: auto auto;
      justify-content: center;
    }
  }

  &__item {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

    --padding: #{rem(32)};

    @include tablet {
      --padding: #{rem(28)};
    }

    &:first-child {
      padding-right: var(--padding);
    }

    &:nth-child(2) {
      padding-inline: var(--padding);
      border-right: rem(1) solid rgba(0, 0, 0, 0.1);
      border-left: rem(1) solid rgba(0, 0, 0, 0.1);

      @include tablet {
        border-right: none;
        padding-left: var(--padding);
        padding-right: 0;
      }
    }

    &:last-child {
      padding-left: var(--padding);

      @include tablet {
        padding-left: 0;
        grid-column: 1 / -1;
        justify-self: center;
      }
    }
  }

  &__key {
    font-weight: 400;
    font-size: rem(16);
    line-height: 137%;
    color: var(--color-dark-3);

    @include mobile {
      font-size: rem(12);
    }
  }

  &__value {
    font-weight: 700;
    font-size: fluid(40, 24);
  }
}
